In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
import matplotlib.pyplot as plt

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Hay River,60.8156,-115.7999,39.18,60,47,11.5,CA,2021-10-03 15:44:01
1,1,Hay River,60.8156,-115.7999,39.18,60,47,11.5,CA,2021-10-03 15:44:01
2,2,Mar Del Plata,-38.0023,-57.5575,55.42,54,40,20.0,AR,2021-10-03 15:46:38
3,3,Katima Mulilo,-17.5000,24.2667,88.86,20,83,4.5,NaN,2021-10-03 15:46:38
4,4,Cabo San Lucas,22.8909,-109.9124,85.51,71,98,0.6,MX,2021-10-03 15:46:39

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

NameError: name 'heatmap_layer' is not defined

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness.
locations = city_data_df[["Lat", "Lng"]]
cloud = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloud, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent wind speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
3,3,Katima Mulilo,-17.5000,24.2667,88.86,20,83,4.50,NaN,2021-10-03 15:46:38
4,4,Cabo San Lucas,22.8909,-109.9124,85.51,71,98,0.60,MX,2021-10-03 15:46:39
8,8,Marsa Matruh,31.3525,27.2453,77.20,50,20,11.50,EG,2021-10-03 15:46:40
13,13,Atuona,-9.8000,-139.0333,77.14,73,66,18.03,PF,2021-10-03 15:46:42
20,20,Beremend,45.7911,18.4326,76.75,41,35,7.52,HU,2021-10-03 15:46:43
21,21,Fairview,40.8126,-73.9990,77.63,56,1,0.00,US,2021-10-03 15:46:44
23,23,Najran,17.4924,44.1277,88.45,29,82,3.15,SA,2021-10-03 15:46:44
30,30,Hithadhoo,-0.6000,73.0833,84.07,73,72,14.76,MV,2021-10-03 15:46:46
33,33,Gbarnga,6.9956,-9.4722,79.20,89,89,3.44,LR,2021-10-03 15:46:47
35,35,Kapaa,22.0752,-159.3190,75.18,85,90,13.80,US,2021-10-03 15:46:37

In [15]:
preferred_cities_df.count()

City_ID       178
City          178
Lat           178
Lng           178
Max Temp      178
Humidity      178
Cloudiness    178
Wind Speed    178
Country       174
Date          178
dtype: int64

In [16]:
preferred_cities_df.dropna()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
4,4,Cabo San Lucas,22.8909,-109.9124,85.51,71,98,0.60,MX,2021-10-03 15:46:39
8,8,Marsa Matruh,31.3525,27.2453,77.20,50,20,11.50,EG,2021-10-03 15:46:40
13,13,Atuona,-9.8000,-139.0333,77.14,73,66,18.03,PF,2021-10-03 15:46:42
20,20,Beremend,45.7911,18.4326,76.75,41,35,7.52,HU,2021-10-03 15:46:43
21,21,Fairview,40.8126,-73.9990,77.63,56,1,0.00,US,2021-10-03 15:46:44
...,...,...,...,...,...,...,...,...,...,...
529,529,Laela,-8.5667,32.0500,76.64,32,100,4.47,TZ,2021-10-03 15:49:20
533,533,Port Blair,11.6667,92.7500,80.65,82,50,5.57,IN,2021-10-03 15:49:22
542,542,Jinxiang,27.4327,120.6062,77.34,76,95,4.27,CN,2021-10-03 15:49:25
543,543,Topolobampo,25.6000,-109.0500,80.06,59,100,3.36,MX,2021-10-03 15:49:25
547,547,Palimbang,6.2106,124.1894,77.56,86,100,2.62,PH,2021-10-03 15:49:26

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
3    Katima Mulilo     NaN     88.86 -17.5000   24.2667
4   Cabo San Lucas      MX     85.51  22.8909 -109.9124
8     Marsa Matruh      EG     77.20  31.3525   27.2453
13          Atuona      PF     77.14  -9.8000 -139.0333
20        Beremend      HU     76.75  45.7911   18.4326
21        Fairview      US     77.63  40.8126  -73.9990
23          Najran      SA     88.45  17.4924   44.1277
30       Hithadhoo      MV     84.07  -0.6000   73.0833
33         Gbarnga      LR     79.20   6.9956   -9.4722
35           Kapaa      US     75.18  22.0752 -159.3190

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [25]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
        print("Hotel not found... skipping.")

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))